body {
    background-color: black!important;

}

.margen {
    margin-top: 90%;
    margin-left: 50px;
    text-align: center;
}

.form-control {
    width: 150px;
    min-width: 0;
    display: block;
    text-align: center;
}

.email {
    margin-left: 30%;
    margin-right: 30%;
}

.password {
    margin-left: 30%;
    margin-right: 30%;
}

/* ==========
   EFECTOS OPCIONALES
   ========== */
.hover-zoom {
    transition: transform 0.3s ease, filter 0.4s ease;
    border-radius: 10px; /* antes estaba vacío y causaba error */
}

.hover-zoom:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.foto_perro {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
}
