body {
    background-color: rgba(255, 255, 255, 0.863)!important;

}

.galeria {
    display: grid;                                                      
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));       
    gap: 30px;                                                          
    justify-items: center;                                              
    padding: 20px;                                                      
}


figure {
    text-align: center;                                                 
    margin: 0;                                                          
    padding: 10px;                                                      
    border-radius: 2px;                                                 
    outline: 1.5px solid black;                                       
    outline-offset: 5px;                                                
    transition: transform 0.3s ease, outline-color 0.4s ease;           
}

figure:hover {
    transform: scale(1.05);                                             
    outline-color: cornflowerblue;                                    
}

figcaption {
    margin-top: 8px;                                                    
    font-size: 16px;                                                    
    font-weight: bold;                                                  
    color: #333;                                                      
}



/* ==========
   EFECTOS OPCIONALES
   ========== 
.hover-zoom {
    transition: transform 0.3s ease, filter 0.4s ease;
    border-radius: 2px;
    outline: 1.5px solid black;
    outline-offset: 5px;
}

.hover-zoom:hover {
    transform: scale(1.1);
    outline-color: cornflowerblue;
}

*/





/*
.foto_perro {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Centra horizontalmente 
    align-items: center;     /* Centra verticalmente 
} */

/*

.galeria { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 30px; 
    justify-items: center; 
    padding: 20px; }


figcaption { 
    margin-top: 11px; 
    font-size: 16px; 
    font-weight: bold; 
    color: #333; }


figure { text-align: center; 
margin: 0;           /* quita márgenes por defecto  
padding: 10px; } */













/* =============
    FORMULARIO 
   =============*/
.margen {
    margin-top: 90%;
    margin-left: 50px;
    text-align: center;
}

.form-control {
    width: 150px;
    min-width: 0;
    display: block;
    text-align: center;
}

.email {
    margin-left: 30%;
    margin-right: 30%;
}

.password {
    margin-left: 30%;
    margin-right: 30%;
}